.article {
	display: flex;
	gap: 20px;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 15px;
}

.image-container{
    width: 20%;
}


.image-container > img{
    width: 100%;
}

.content-container{
    width: 80%;
}
