table {
	max-width: 800px;
	margin: auto;
	border-collapse: collapse;
	width: 100%;
	margin-top: 50px;
}

th {
	padding: 10px 0px;
	background-color: blue;
	color: white;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

td,
th {
	border: 2px solid blue;
	padding: 8px;
}
